@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Regular.ttf);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  font-family: "Roboto";
  font-family: Roboto !important;
  .header-top{
    height: 40px;
    left: 40px;
    padding: 4px, 0px, 4px, 548px;
    background-color: #939878;
    h2{
      padding-top: 10px;
      text-align: center;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      color: #fff;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    transition: all 0.5s linear;
    a {
      img {
        margin-left: 40px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      li {
        list-style: none;
        a {
          transition: all .3s linear;
          text-decoration: none;
          color: #2A2C1F;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
            &:hover {
            color: #CF6F49 ;
            }
            button {
              font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                border-radius: 6px; 
                border: 1px;
                background-color: #CF6F49;
                color: #fff;
                width: 159px;
                height: 42px; 
                left: 116px;
                &:hover {
                    background-color: #fff;
                    border: 2px solid #CF6F49;
                    color: #CF6F49;
                    transition: all .3s;
                    box-shadow: 2px 4px 2px #e3e1e1;
                    transition: all .3s linear;
                }
            }
        }
      }
    }
    #navbar-responsive.open {
      left: 0;
    }

    .menu-btn {
      border: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
      padding: 19.5px 0;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #000;
    }
    @media (max-width:450px) {
      .header-top{
        h2{
          display: none;
        }
      }
    }
    @media (max-width: 850px) {
      #navbar-responsive {
        position: fixed;
        top: 91px;
        bottom: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-fourth;
        transition: 0.5s;
      }

      .menu-btn {
        display: flex;
      }
    }
  }
  .navbar-shrink {
    padding: 8px 0;
    .menu-btn {
      padding: 10px 0;
    }
    #navbar-responsive {
      top: 56px;
    }
  }
}